<template name="EditProject">
    <button type="button" class="btn btn-xs btn-primary edit-project">
        <i class="fa fa-pencil-square-o"></i>
        {{_ "edit"}}
    </button>
    <button type="button" class="btn btn-xs btn-primary invite-project">
        <i class="fa fa-user-plus"></i>
        {{_ "invite"}}
    </button>
    <button type="button" class="btn btn-xs btn-danger delete-project">
        <i class="fa fa-trash" aria-hidden="true"></i>
        {{_ "delete"}}
    </button>
</template>
