<template name="ProjectDiscussions">
    <div class="project-discussions">
        <h2>{{_ "discussions"}}</h2>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="list-group">
                    <button type="button" class="list-group-item">
                        A discussion
                        <span class="badge">14 comments</span>
                    </button>
                    <button type="button" class="list-group-item">
                        Another discussion
                        <span class="badge">14 comments</span>
                    </button>
                    {{#each discussion in data.discussions}}
                        prova {{discussion}}
                    {{/each}}
                </div>
            </div>
            <div class="col-sm-8 col-md-8">
                {{> Template.dynamic template=template data=data }}
            </div>
        </div>
    </div>
</template>
