@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xjqf9r');
  src:  url('fonts/icomoon.eot?xjqf9r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xjqf9r') format('truetype'),
    url('fonts/icomoon.woff?xjqf9r') format('woff'),
    url('fonts/icomoon.svg?xjqf9r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoon-"], [class*="icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-tools:before {
  content: "\e900";
}
.icomoon-subject:before {
  content: "\e901";
}
.icomoon-rules:before {
  content: "\e902";
}
.icomoon-roles:before {
  content: "\e903";
}
.icomoon-outcome:before {
  content: "\e904";
}
.icomoon.icon-object:before {
  content: "\e905";
}
.icomoon-community:before {
  content: "\e906";
}
.icomoon-activity:before {
  content: "\e907";
}
.icomoon-activity-negative:before {
  content: "\e908";
  font-size: 1.3em;
}
