<template name="ContradictionButtons">
    <button type="button" class="btn btn-xs btn-info show-contradiction">
        <i class="fa fa-eye"></i>
        {{_ "show"}}
    </button>
    <button type="button" class="btn btn-xs btn-info discuss-contradiction">
        <i class="fa fa-comments"></i>
        {{_ "discuss"}}
    </button>
    <button type="button" class="btn btn-xs btn-primary edit-contradiction">
        <i class="fa fa-pencil-square-o"></i>
        {{_ "edit"}}
    </button>
    <button type="button" class="btn btn-xs btn-danger delete-contradiction">
        <i class="fa fa-trash"></i>
        {{_ "delete"}}
    </button>
</template>
