/*****************************************************************************/
/* ActivityHelp: Style */
/*****************************************************************************/
.activity-help {
}

.activity-help .svg {
    width: 100%;
    height: auto;
}

.image-separator {
    margin-top: 10px;
}
