<template name="editUser">
  <button type="button" class="btn btn-xs btn-primary edit-user"><i class="fa fa-pencil-square-o"></i> {{_ "edit"}}</button>
  <button type="button" class="btn btn-xs btn-warning change-password"><i class="fa fa-trash" aria-hidden="true"></i> {{_ "password"}}</button>
  <button type="button" class="btn btn-xs btn-danger edit-admin"><i class="fa fa-pencil-square-o"></i> {{_ "make_admin"}}</button>
  <button type="button" class="btn btn-xs btn-danger delete-user"><i class="fa fa-trash" aria-hidden="true"></i> {{_ "delete"}}</button>
</template>
