/*****************************************************************************/
/* User: Style */
/*****************************************************************************/
.me {
}

.change-avatar {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
