<template name="Home">
  <div class="home">
    <h1>...</h1>
    <!-- TODO Explain activities, contradictions, flows here -->
    <div class="row">
        <div class="col-md-8">
            {{> About}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{> AppHelp}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{> ActivityHelp}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{> ContradictionHelp}}
        </div>
        <div class="col-md-6">
            {{> FlowHelp}}
        </div>
    </div>
  </div>
</template>
