<template name="VizVisualization">
    <div class="viz-visualization">
        <h2>{{_ "processes"}}</h2>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-default" id="create-activity-button">
                    <i class="fa fa-plus orange-button" aria-hidden="true"></i>
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="icomoon-activity-negative fa-stack-1x" aria-hidden="true"></i>
                    </span>
                    {{_ "activity_add_button"}}
                </button>
                <button class="btn btn-default" id="create-flow-button">
                    <i class="fa fa-plus orange-button" aria-hidden="true"></i>
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-random fa-stack-1x" aria-hidden="true"></i>
                    </span>
                    {{_ "flow_add_button"}}
                </button>
                <button class="btn btn-default" id="create-contradiction-button">
                    <i class="fa fa-plus orange-button" aria-hidden="true"></i>
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-exclamation-triangle fa-stack-1x" aria-hidden="true"></i>
                    </span>
                    {{_ "contradiction_add_button"}}
                </button>
            </div>
        </div>
        <p class="blinking" id="zoom-and-pan">
            <i class="fa fa-search-plus"></i>
            <i class="fa fa-arrows-alt"></i>
            <i class="fa fa-arrow-right"></i>
        </p>
        <div id="d3-container"></div>
    </div>
</template>
