<template name="Contradictions">
    <div class="contradictions">
        <div class="row">
            <div class="col-md-12">
                <h2>{{_ "contradictions_h2"}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{> tabular table=TabularTables.Contradictions class="table table-striped table-bordered table-condensed" selector=tabularSelector}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" id="create-contradiction-button">
                    <i class="fa fa-plus"></i>
                    {{_ "contradiction_add_button"}}
                </button>
            </div>
        </div>
    </div>
</template>
