/*****************************************************************************/
/* EditHtml: Style */
/*****************************************************************************/
.edit-html {
}

.edit-html .nav-tabs i {
    color: #fff;
}

.icon-background {
    color: #f57f2a !important;
}

.edit-html label {
     text-transform: capitalize;
}

.formp {
    margin-top: 20px;
    margin-left: 10px;
}
