<template name="VizLocations">
  <div class="viz-locations">
      <h2>{{_ "locations"}}</h2>
      {{#if noActivities}}
        <p>
            There are no activities yet.
        </p>
        {{else}}
            {{#if noActivitiesWithoutLocation}}
                <div id="activities-without-location">
                    <h3>{{_ "activities_without_location"}}</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul id="activities-without-location-list">
                                {{#each activity in activitiesWithoutLocation}}
                                <li>
                                    <a href="#">
                                        <img src="../map/activityIconNoLocation.svg"  data-id={{activity.id}} class="activities-without-location" data-toggle="tooltip" title="Edit activity #{{activity.number}}" />
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            {{/if}}
      {{/if}}
      <div>
          <h3>{{_ "activities_with_location"}}</h3>
          <div class="row">
              <div class="col-sm-12">
                  <div id="locationsMap"></div>
              </div>
          </div>
      </div>
  </div>
</template>
