/*****************************************************************************/
/* Viz: Style */
/*****************************************************************************/


svg
{
    border: 1px solid blue;
}

.svg-button
{
    cursor: pointer;
    -webkit-transition: all .5s ease;
            transition: all .5s ease;

    fill: orange;
}

.svg-button text
{

    fill: #fff;
}


/* Glow filter */
.glow
{
    filter: url(#glow);
}
