/*****************************************************************************/
/* Viz: Style */
/*****************************************************************************/
$font-viz: "Fira Sans", sans-serif;
$font-color-viz: #545151;
$line-color-viz: #999999;

svg {
    font-family: $font-viz;
}

#d3-container {
    height: 1200px;
    border: 1px solid red;
    padding: 0;
}

/* Time axis */

#yAxisG text {
    font: 10px;
    fill: $font-color-viz;
    font-family: $font-viz;
}

#yAxisG line,
#yAxisG path {
    fill: none;
    stroke: $font-color-viz;
    shape-rendering: crispEdges;
    width: 20px;
}

/* Activity */
.svg-activity rect {
    fill: rgb(222, 227, 238);
}

.svg-activity text {
    fill: $font-color-viz;
}

.svg-activity-participation rect {
    fill: rgb(136, 139, 144);
}

.svg-activity-participation text {
    fill: #000;
}

.participation-level {
    fill: #fff !important;
    writing-mode: tb;
}

.d3plus-textBox text {
    font-family: $font-viz !important;
}

/* UI Button */
.svg-button, .button-tooltip {
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    fill: #f57f2a;
}

.svg-button:hover {
    fill: #ee471a;
}

.svg-button text, .button-tooltip text {
    fill: #fff;
}

.tooltip {
    font-family: $font-viz;
}

.svg-emoji {
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.svg-label {
    fill: $font-color-viz;
    font-weight: 500;
    font-size: 120%;
}

.svg-lines-text {
    fill: $font-color-viz;
    font-weight: 400;
    font-size: 80%;
    writing-mode: tb;
}

.svg-lines-line {
    stroke: $line-color-viz;
}

.svg-lines-rect {
    fill: #fff;
}

.html-edit-button {
    margin-left: 5px;
}

.viz .nav-tabs i {
    color: #fff;
}

.icon-background {
    color: #f57f2a !important;
}
