/*****************************************************************************/
/* Viz: Style */
/*****************************************************************************/
$font-viz: "Fira Sans", sans-serif;

svg {
    font-family: $font-viz;
}

#d3-container {
    height: 1200px;
    border: 1px solid red;
    padding: 0;
}

/* Time axis */
$axis-color: red;

#yAxisG text {
    font: 10px;
    fill: $axis-color;
    font-family: $font-viz;
}

#yAxisG line,
#yAxisG path {
    fill: none;
    stroke: $axis-color;
    shape-rendering: crispEdges;
    width: 20px;
}

/* Activity */
.svg-activity rect {
    fill: rgb(222, 227, 238);
}

.svg-activity text {
    fill: #000;
}

.svg-activity-participation rect {
    fill: rgb(136, 139, 144);
}

.svg-activity-participation text {
    fill: #000;
}

.participation-level {
    fill: #fff !important;
    writing-mode: tb;
}

.d3plus-textBox text {
    font-family: $font-viz !important;
}

/* UI Button */
.svg-button {
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    fill: #f57f2a;
}

.svg-button:hover {
    fill: #ee471a;
}

.svg-button text {
    fill: #fff;
}
