<template name="ProjectsViz">
  <div class="viz">
    <h1>Project title <span class="label label-primary">v0.1</span></h1>
    <div>
        <h2>{{_ "project_description"}}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet consequat mauris, nec molestie ligula molestie sit amet. Nullam vulputate sollicitudin purus, at posuere libero consectetur ut. Nullam in turpis tincidunt, mattis ante nec, sodales felis. Vivamus sagittis metus a arcu ullamcorper tristique. Fusce viverra a libero dapibus porttitor. Pellentesque orci nisi, consectetur ut aliquam at, eleifend ac justo. Praesent fermentum dui sit amet diam tincidunt, et dignissim metus luctus. Integer placerat molestie tellus vel pellentesque. Vestibulum semper neque quam. Duis accumsan accumsan odio, ac vestibulum quam suscipit at. Integer et massa euismod, feugiat lorem vel, pretium augue. Nam id justo arcu. Pellentesque ullamcorper vitae lacus ac vestibulum.</p>
    </div>
    <div>
        <h2>Founders</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet consequat mauris, nec molestie ligula molestie sit amet. Nullam vulputate sollicitudin purus, at posuere libero consectetur ut</p>
    </div>
    <div>
        <h2>Designers</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet consequat mauris, nec molestie ligula molestie sit amet. Nullam vulputate sollicitudin purus, at posuere libero consectetur ut</p>
    </div>
    <div>
        <h2>Community</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet consequat mauris, nec molestie ligula molestie sit amet. Nullam vulputate sollicitudin purus, at posuere libero consectetur ut</p>
    </div>
    <div>
        <h2>Processes</h2>
    </div>
    <div id="d3-container" style="border: 1px solid red; height: 200px;">
    </div>
  </div>
</template>
