<template name="ProjectsViz">
    <div class="viz">
        {{#with data}}
            <div class="row">
                <div class="col-sm-10">
                    <h1>
                        {{title}}
                        <span class="html-edit-button" id="html-edit-button-title"></span>
                    </h1>
                </div>
                <div class="col-sm-2">
                    <h1>
                        <span class="html-edit-button" id="html-edit-button-release"></span>
                        <span class="label label-primary">
                            {{release}}
                        </span>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <h2>{{_ "project_description"}}</h2><span class="html-edit-button" id="html-edit-button-description"></span>
                    <p>
                        {{description}}
                    </p>
                </div>
                <div class="col-xs-4 col-sm4 col-md-4 col-lg-4">
                    <h2>Community</h2><span class="html-edit-button" id="html-edit-button-community"></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet consequat mauris, nec molestie ligula molestie sit amet. Nullam vulputate sollicitudin purus, at posuere libero consectetur ut</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <i class="fa fa-clock-o"></i> <strong>Created at</strong> {{createdAt}} by {{createdBy}}
                </div>
                <div class="col-xs-8">
                    Visualization of the activity of users...
                </div>
                <div class="col-xs-2">
                    <i class="fa fa-clock-o"></i> <strong>Last updated at</strong> {{lastUpdatedAt}} by {{lastUpdatedBy}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#view-project" data-toggle="tab" title="View this project">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <i class="fa fa-line-chart fa-stack-1x" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#view-activities" data-toggle="tab" title="View all the activities in this project">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <i class="icomoon-activity-negative fa-stack-1x" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#view-discussions" data-toggle="tab" title="View all the discussions in this project">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <i class="fa fa-comments fa-stack-1x" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#view-flows" data-toggle="tab" title="View all the Flows in this project">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <i class="fa fa-random fa-stack-1x" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#view-contradictions" data-toggle="tab" title="View all the Contradictions in this project">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <i class="fa fa-exclamation-triangle fa-stack-1x" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#view-locations" data-toggle="tab" title="View all the Locations of this project">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <i class="fa fa-globe fa-stack-1x" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#view-versions" data-toggle="tab" title="View all the Versions of this project">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <i class="fa fa-history fa-stack-1x" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="view-project">
                            <h2>{{_ "processes"}}</h2>
                            <div id="d3-container"></div>
                        </div>
                        <div class="tab-pane fade in" id="view-activities">
                            {{> Activities}}
                        </div>
                        <div class="tab-pane fade in" id="view-discussions">
                            {{> Discussions}}
                        </div>
                        <div class="tab-pane fade in" id="view-flows">
                            {{> Flows}}
                        </div>
                        <div class="tab-pane fade in" id="view-contradictions">
                            {{> Contradictions}}
                        </div>
                        <div class="tab-pane fade in" id="view-locations">
                            <h2>{{_ "locations"}}</h2>
                            <div id="activities-without-location">
                                <h3>{{_ "activities_without_location"}}</h3>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul id="activities-without-location-list">
                                            {{#each activity in activitiesWithoutLocation}}
                                            <li>
                                                <a href="#">
                                                    <img src="../map/activityIconNoLocation.svg"  data-id={{activity.id}} class="activities-without-location" title="spooks" />
                                                </a>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3>{{_ "activities_with_location"}}</h3>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="locationsMap"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="view-versions">
                            <h2>{{_ "versions"}}</h2>
                            {{#each versions}}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <span class="badge"><i class="fa fa-history"></i>
                                        <strong>{{number}}</strong></span>
                                         <em>{{id}}</em>
                                    </div>
                                    <div class="col-sm-12">
                                        <i class="fa fa-user"></i>  {{updatedAtBy}} - <i class="fa fa-clock-o"></i> {{updatedAtRelative}} - {{updatedAt}}
                                    </div>
                                    <div class="col-sm-12">
                                        <pre>
                                            <code class="json">{{diff}}</code>
                                        </pre>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        {{/with}}
    </div>
</template>
