<template name="ProjectsViz">
    <div class="viz">
        {{#with data}}
            <h1>
                {{title}}<span class="html-edit-button" id="html-edit-button-title"></span>
                <span class="label label-primary">{{release}}</span><span class="html-edit-button" id="html-edit-button-version"></span>
            </h1>
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <h2>{{_ "project_description"}}</h2><span class="html-edit-button" id="html-edit-button-description"></span>
                    <p>
                        {{description}}
                    </p>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    Created at {{createdAt}} by {{createdBy}}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    Last updated at {{lastUpdatedAt}} by {{lastUpdatedBy}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <h2>Founders</h2><span class="html-edit-button" id="html-edit-button-founders"></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet consequat mauris, nec molestie ligula molestie sit amet. Nullam vulputate sollicitudin purus, at posuere libero consectetur ut</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <h2>Designers</h2><span class="html-edit-button" id="html-edit-button-designers"></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet consequat mauris, nec molestie ligula molestie sit amet. Nullam vulputate sollicitudin purus, at posuere libero consectetur ut</p>
                </div>
                <div class="col-xs-4 col-sm4 col-md-4 col-lg-4">
                    <h2>Community</h2><span class="html-edit-button" id="html-edit-button-community"></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet consequat mauris, nec molestie ligula molestie sit amet. Nullam vulputate sollicitudin purus, at posuere libero consectetur ut</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#view-project" data-toggle="tab" title="View this project">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <i class="fa fa-line-chart fa-stack-1x" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#view-discussions" data-toggle="tab" title="View all the discussions in this project">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <i class="fa fa-comments fa-stack-1x" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="view-project">
                            <h2>{{_ "processes"}}</h2>
                            <div id="d3-container"></div>
                        </div>
                        <div class="tab-pane fade in" id="view-discussions">
                            {{> ProjectDiscussions}}
                        </div>
                    </div>
                </div>
            </div>
        {{/with}}
    </div>
</template>
