/*****************************************************************************/
/* Viz: Style */
/*****************************************************************************/

#d3-container {
    height: 1200px;
    border: 1px solid red;
    padding: 0px;
}

.svg-button
{
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;

    fill: #f57f2a;
}

.svg-button:hover
{
    fill: #ee471a;
}


.svg-button text
{
    fill: #fff;
}

/* Time axis */

#yAxisG text {
  font: 10px;
  fill: red;
  font-family: "Fira Sans", sans-serif;
}

#yAxisG path,
#yAxisG line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  width: 20px;
}
