/*****************************************************************************/
/* Viz: Style */
/*****************************************************************************/


svg
{
    border: 1px solid blue;
}

.svg-button
{
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;

    fill: #f57f2a;
}

.svg-button:hover
{
    fill: #ee471a;
}


.svg-button text
{
    fill: #fff;
}
