<template name="ConfirmUserDelete">
  <div class="confirm-user-delete">
      <div class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h2 class="modal-title">Warning</h2>
                  </div>
                  <div class="modal-body">
                      <p><span class="label label-danger">Danger</span> Are you sure you want to delete the user? This action cannot be undone, data will be lost.</p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-info" data-dismiss="modal" id="cancel">Cancel</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirm">Confirm</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>
