<template name="UserProfileEdit">
    <div class="user-profile-edit">
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Edit the profile details</h2>
                    </div>
                    <div class="modal-body">
                        {{#with data}}
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Username:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" value={{username}} id="new-username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">First name:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" value={{profile.firstName}} id="new-firstname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Last name:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" value={{profile.lastName}} id="new-lastname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Bio:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" value={{profile.bio}} id="new-bio">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Email:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" value={{emails.[0].address}} id="new-email">
                                    </div>
                                </div>
                            </form>
                        {{/with}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal" id="cancel">Cancel</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal" id="confirm">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
