@import '../../../node_modules/pretty-checkbox/dist/pretty-checkbox.min.css';
@import url('https://fonts.googleapis.com/css?family=Dosis:700');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500');

/*****************************************************************************/
/* main: Style */
/*****************************************************************************/


.main
{
    margin-top: 80px;
    margin-bottom: 120px;
}

.navbar
{
    z-index: 10;
    background-color: #fff;
}

.navbar-toggle,
.icon-bar
{
    border: 1px solid #000;
}

.navbar-header button:hover
{
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
       -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
}

.navbar-header button
{
    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
}

.navbar-fixed-top
{
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
       -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
}

.navbar-fixed-bottom
{
    height: 10px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #d5d5d5;
    background-color: #f1f1f1;
}

/* Vertical alignment of the avatar image in the navbar */
.navbar-nav li
{
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.compulsory
{
    font-weight: bold;
    color: red;
}

body
{
    font-family: 'Fira Sans', sans-serif;
}

.pnotify
{
    font-family: 'Fira Sans', sans-serif;
    margin-top: 30px;
}

.row
{
    margin-bottom: 20px;
}

/* Fix a select2 width issue */
.select2-dropdown
{
    width: 100px !important;
}

textarea {
    resize: vertical;
}

.modal-icon {
    color: #fff;
    font-size: 60%;
}

/* Open Meta Design logo */

.logoOMD::after {
    content: "÷÷÷Open Meta Design";
}

.logoOMD {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: #000;
    background: #fff;
}
