<template name="About">
    <div class="about">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="logoOMD"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>About it</h2>
                <p>
                    ...
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>Open Source</h2>
                <p>
                    <span class="logoOMD"></span> is developed and released as Free/Open Source software under a <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License v3.0</a>. You can download it, notify of issues and join its development on GitHub at  <a href="https://github.com/openp2pdesign/OpenMetaDesign">https://github.com/openp2pdesign/OpenMetaDesign</a>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>Research</h2>
                <p>
                    <span class="logoOMD"></span> emerged from years of research & professional practice & development. You can read more about it here:
                </p>
                <p>
                    Menichinelli, M. (2006). Reti collaborative : il design per un’auto-organizzazione open peer-to-peer. Politecnico di Milano, Facoltà del Design (III), Milano. Retrieved from http://www.openp2pdesign.org
                </p>
                <p>
                    Menichinelli, M. (2015). Open Meta-Design: Tools for Designing Collaborative Processes. In D. Bihanic (Ed.), <em>Empowering Users through Design: Interdisciplinary Studies and Combined Approaches for Technological Products and Services</em> (pp. 193–212). New York, NY: Springer.
                </p>
                <p>
                    Menichinelli, M. (2016). A Framework for Understanding the Possible Intersections of Design with Open, P2P, Diffuse, Distributed and Decentralized Systems. <i>Disegno – The Journal of Design Culture</i>, <i>III</i>(01–02), 44–71. <a href="https://doi.org/10.21096/disegno_2016_1-2mm">https://doi.org/10.21096/disegno_2016_1-2mm</a>
                </p>
                <p>
                    Menichinelli, M., &amp; Valsecchi, F. (2016). The meta-design of systems: how design, data and software enable the organizing of open, distributed, and collaborative processes. In <em>6th IFDP - Systems &amp; Design: Beyond Processes and Thinking</em> (pp. 518–537). Valencia: Editorial Universitat Politècnica de València. <a href="https://doi.org/10.4995/IFDP.2016.3301">https://doi.org/10.4995/IFDP.2016.3301</a>
                </p>
                <p>
                    Menichinelli, M. (2018). Service design and activity theory for the meta-design of collaborative design processes. In  <em>ServDes2018. Service Design Proof of Concept, Proceedings of the ServDes.2018 Conference, 18-20 June, Milano, Italy</em> (pp. 994–1008). Linköping, Sweden: Linköping University Electronic Press, Linköpings universitet. <a href="http://www.ep.liu.se/ecp/article.asp?issue=150&amp;article=083&amp;volume=#">http://www.ep.liu.se/ecp/article.asp?issue=150&amp;article=083&amp;volume=#</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
    </div>
</template>
